<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>About Jotes</title>
  </head>


  <body>
    <div id="header">
      <div id="nav">
        <a href="index.html"><p>Home</p></a>
        <a href="about.html"><p>About</p></a>
      </div>
      <h1>Jotes</h1>
      <h4>Jot Down Notes</h4>
    </div>
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h4>Contributors</h4>
    <div class="row">
      <div class="aboutcol">
        <h3>Po'okela Moana</h3>
        <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-1/c0.0.959.959a/53090625_2221963924567402_5025792591715631104_n.jpg?_nc_cat=107&_nc_ht=scontent-lax3-2.xx&oh=0c1a7fa921b532815ba4c958d9456510&oe=5D04A81C" class="aboutimage">
      </div>
      <div class="aboutcol">
        <h3>Jennifer Chau</h3>
        <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/52601813_2119358134769937_4057050460266168320_n.jpg?_nc_cat=107&_nc_ht=scontent-lax3-2.xx&oh=dab455d6157bfbe7a588c7c04108e12a&oe=5D10C767" class="aboutimage">
      </div>
      <div class="aboutcol">
        <h3>Da Sol Lee</h3>
        <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-1/46007464_1433581806678287_3693017630781734912_n.jpg?_nc_cat=110&_nc_ht=scontent-lax3-2.xx&oh=6a381efef3e692b97b27746ab7702c6c&oe=5D3F3BC0" class="aboutimage">
      </div>
      <div class="aboutcol">
        <h3>Evelyn Cheng</h3>
        <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/55602647_1979158472211246_8089852613215911936_n.jpg?_nc_cat=109&_nc_ht=scontent-lax3-2.xx&oh=c3e42031ce0f449ca1c184334af699e7&oe=5D4389B2" class="aboutimage">
      </div>
      <div class="aboutcol">
        <h3>Cameron Sherry</h3>
        <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.0-9/55576160_257881275117402_3507914423043883008_n.jpg?_nc_cat=105&_nc_ht=scontent-lax3-2.xx&oh=00d57758907c08a55c44a6a35dfc0a2d&oe=5D451E46" class="aboutimage">
      </div>


    </div>
  </body>
</html>
